body {
  margin:0px;
  background-image:url('../../images/1_1/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1900px 919px;
  background-origin:border-box;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1878px;
  height:808px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:110px;
  width:1878px;
  height:808px;
  display:flex;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:50px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:332px;
  height:50px;
  display:flex;
  opacity:0;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:260px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
